<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.york.dao.ActivityMainMapper">
    <resultMap id="MyBaseResultMap" type="com.example.york.entity.ActivityMain">
        <id column="activiti_id" property="activityId" jdbcType="INTEGER"></id>
        <result column="activiti_task" property="activityTask" jdbcType="VARCHAR"></result>
        <result column="activiti_start_time" property="activityStartTime" jdbcType="TIMESTAMP"></result>
        <result column="activiti_update_time" property="activityUpdateTime" jdbcType="TIMESTAMP"></result>
        <result column="activiti_type" property="activityType" jdbcType="VARCHAR"></result>
        <result column="activiti_remark" property="activityRemark" jdbcType="VARCHAR"></result>
        <result column="activiti_username" property="activityUsername" jdbcType="VARCHAR"></result>
        <result column="activiti_user_id" property="activityUserId" jdbcType="INTEGER"></result>
    </resultMap>
</mapper>