<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.york.dao.LoginMapper">
    <resultMap id="MyBaseResultMap" type="com.example.york.entity.LoginLog">
        <id column="login_serial" property="loginId" jdbcType="INTEGER"></id>
        <result column="login_username" property="loginUsername" jdbcType="VARCHAR"></result>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"></result>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <insert id="saveLoginLog" parameterType="com.example.york.entity.LoginLog">
        INSERT INTO login_log (login_serial,login_username,login_ip,login_time)
        VALUES (#{loginId},#{loginUsername},#{loginIp},#{loginTime})
    </insert>

    <select id="selectLoginLogList" resultMap="MyBaseResultMap">
        SELECT ll.login_serial,ll.login_username,ll.login_time,ll.login_ip
        FROM login_log ll
        WHERE 1 = 1
        <if test="loginUsername != null and loginUsername!= ''" >
            and ll.login_username like '%${loginUsername}%'
        </if>
        ORDER BY ll.login_time DESC
        Limit #{start},#{pageSize}
    </select>

    <select id="countLoginLogList" resultType="Integer">
        SELECT COUNT(1)
        FROM login_log ll
        WHERE 1 = 1
        <if test="loginUsername != null and loginUsername!= ''" >
            and ll.login_username like '%${loginUsername}%'
        </if>
    </select>

    <delete id="deleteLoginLogById">
        DELETE from login_log
        where login_serial = #{loginId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteSelectedLoginLog" parameterType="Integer">
        DELETE FROM login_log
        WHERE login_serial in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>