<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.york.dao.MessageLogMapper">
    <resultMap id="MyBaseResultMap" type="com.example.york.entity.MessageLog">
        <id column="message_serial" property="messageId" jdbcType="VARCHAR"></id>
        <result column="content" property="content" jdbcType="VARCHAR"></result>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"></result>
        <result column="send_flag" property="sendFlag" jdbcType="INTEGER"></result>
        <result column="send_date" property="sendDate" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <insert id="saveMessageLog" parameterType="com.example.york.entity.MessageLog">
        INSERT INTO message_log(message_serial, content, mobile, send_flag, send_date)
        VALUES (#{messageId},#{content},#{mobile},#{sendFlag},#{sendDate})
    </insert>

    <select id="findMessageLogList" resultMap="MyBaseResultMap">
        SELECT ml.message_serial,ml.content,ml.mobile,ml.send_date
        FROM message_log ml
        WHERE 1 = 1
        <if test="mobile != null and mobile!= ''" >
            and ml.mobile like '%${mobile}%'
        </if>
        ORDER BY ml.send_date DESC
        Limit #{start},#{pageSize}
    </select>

    <select id="countMessageLogList" resultType="Integer">
        SELECT COUNT(1)
        FROM message_log ml
        WHERE 1 = 1
        <if test="mobile != null and mobile!= ''" >
            and ml.mobile like '%${mobile}%'
        </if>
    </select>

    <delete id="deleteMessageLog">
        DELETE from message_log
        where message_serial = #{messageId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteSelectedMessageLog" parameterType="String">
        DELETE FROM message_log
        WHERE message_serial in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>